@model Laboratorio4.Models.AnimalModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AnimalModel</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id)
                @Html.ValidationMessageFor(model => model.Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre)
                @Html.ValidationMessageFor(model => model.Nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ojos, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ojos)
                @Html.ValidationMessageFor(model => model.Ojos)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Patas, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Patas)
                @Html.ValidationMessageFor(model => model.Patas)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Apodo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Apodo)
                @Html.ValidationMessageFor(model => model.Apodo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cubierta, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cubierta)
                @Html.ValidationMessageFor(model => model.Cubierta)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "List", "Animal")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
